


body {
    font-family: 'montserrat';
    background-color: #242933;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

h1 {
    color: #A6B3D9; 
    height: 30px;
    width: 80%; 
    margin: auto; 
    line-height: 10px; 
    margin-top: 30px;
    display: block; 
}


span {
    color: #DB5A5A;
    width: 80%;
    margin: auto;
    font-size: 10px;
    display: block
}

form {
    background-color: #2F3644;
    border: 2px solid #353a4d;
    font-size: 15px;
    font-weight: 550;
    border-radius: 5px;
    margin: auto;
    width: 400px;
    
}

label {
    color: #838DAF;
    width: 80%; 
    margin: auto;
    font-weight: 20 px;
    display: block;
    position: relative;
}



.formulario-grupo {
    width: 80%;
    height: 32px;
    margin: auto;
    border-radius: 3px;
    border: none;
    text-indent: 10px;
    display: block;
}



.success {
    box-shadow: inset 0 0 0 2px #50ce67;
    border-radius: 3px;
}

.error {
    box-shadow: inset 0 0 0 2px #d95757;
    border-radius: 3px;
}

.errorIcon {
        background-image: url('images/error-icon.svg');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position-x: 250px;
        background-position-y: 6px;
}

.successIcon {
    background-image: url('images/success-icon.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 250px;
    background-position-y: 6px;
}

button {
    color: white;
    width: 82%;
    height: 40px;
    margin: 15px auto;
    background-color: #665ff4;
    border: 4px#292b2b solid;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    display: block;
}

.borderColor {
    background-color: #4b44d1 !important;
}